#header-1{
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

#header-2{
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}

#header-3{
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}