.body-characteristics{
    background-color: bisque;
}

.header-1{
    font-family: 'Courier New', Courier, monospace;
    color: red;
    text-align: center;
}

.header-2{
    font-family: 'Courier New', Courier, monospace;
    color: blue;
    text-align: center;
}

.header-3{
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
    margin-right: 50px;
}

.footer{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

tr, td{
    padding: 80px;
    padding-top: 100px;
    font-size: 20px;
}